
doctype html
html(class=`page ${pageContext.type} ${pageContext.details.name}`)

head
	meta(charset="utf-8")
	title= pageContext.details.title
	link(rel="stylesheet" href="/style.css")
	block head1

body
	block body1

	header.header
		h1
			span Turtle
			span Blog
		nav
			a(href="/") home
			a(href="/about/") about
			a(href="/coolarea/") coolarea
			a(href="/blog/") blog

	block body2

	main.content
		block body3
		each section in pageContext.sections
			section.section(data-name=section.name)
				//- div.section-name= section.name
				div.section-content !{section.html}
		block body4

	block body5
