
include _mixins

doctype html
html(class=`page blog-post ${pageMetadata.name}`)

head
	+head(`turtleblog - ${pageMetadata.title}`)
	link(rel="stylesheet" href="/style.css")

body
	//- +header(blog, pages)

	main.content
		each postSection in postSections
			section.post-section(data-author=postSection.author)
				div.post-section-author= postSection.author
				div.post-section-content !{postSection.markdownContent}
