
include _mixins

doctype html
html(class=`page ${name}`)

head
	+head(`turtleblog - ${title}`)
	link(rel="stylesheet" href="/style.css")

body
	+header(name, pages)
	main.content
		each section in sections
			section.section(data-name=section.name)
				div.section-name= section.name
				div.section-content !{section.html}
